<% include partials/header %>

<h1>ReadMe</h1>

<% posts.forEach(function(post){ %>
    <div>
        <h3><%= post.title %></h3>
        <img src="<%= post.image %>">
        <h5> <%= post.created.toDateString() %></h5>
        <p> <%= post.body.substring(0, 100) %>...</p>
    </div>
<% }); %>

<% include partials/footer %>