.jumbotron{
    padding: 20px;
    text-align: center;
    margin-top: 57px;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

.heading {
    margin-top: 90px;
    text-align: center;
    margin-bottom: 20px;
}

.form{
    max-width: 700px;
}

.show{
    margin-top: 70px;
}

.index{
    max-width: 1000px;
}

.delete-form{
    display: inline;
}

.comments{
    padding: 10px;
}

.media{
    margin-bottom: 15px;
    background-color: white;
    border: 1px solid rgb(0, 0, 67, 0.1);
    padding: 8px;
}

.comments-button{
    font-size: 11px;
}

.new-comment-button{
    margin-bottom: 10px;
}

.authForm{
   max-width: 400px; 
}

.flashMessage{
    margin-top: 70px;
}