.jumbotron{
    padding: 20px;
    text-align: center;
    margin-top: 57px;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

.heading {
    margin-top: 90px;
    text-align: center;
    margin-bottom: 20px;
}

.form{
    max-width: 700px;
}